.login__button-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 186px 0 112px 0;
}

@media screen and (max-width: 650px) {
  .login__button-container {
    max-width: 260px;
    margin-top: 157px;
  }
}