.element__delete-button {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/delete-button.svg);
  background-color: transparent;
  border: none;
}

.element__delete-button:hover {
  transition: .2s ease;
  opacity: .6;
  cursor: pointer;
}
